version: '3'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: postgres
    depends_on:
      - db
  db:
    image: postgres:13.3-alpine
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres